django-enumfields==0.10.1
django-extensions==2.0.7
-e /opt/linsci/pypi/django-graphql-auth
django-graphql-auth
django-polymorphic==2.0.2
django-tagulous==0.13.2
django-webpack-loader==0.6.0
Django==2.2.6
djangorestframework==3.8.2
gitpython==2.1.10
graphene-django>=2.0
graphene-django-optimizer
gunicorn==19.8.1
psycopg2
pytest-django==3.5.1
pytest-html
python-memcached==1.59
pytz==2018.4
PyYAML==3.12
requests==2.18.4
beautifulsoup4==4.7.1
django-dbbackup
django-environ
django-cors-headers
