{% extends 'base.html' %}
{% load cms_tags %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}

<a href='/app/moves'>All moves</a>

<form class="editMoveForm" action='' method='post'>{% csrf_token %}
    <div class="flex flex-col">
        {{ form }}
    </div>

    <div class="formField"><label>Description</label></div>
    <div>
        {% render_placeholder move.description %}
    </div>

    <div class="formField"><label>Private notes</label></div>
    <div>
        {% render_placeholder private_data.notes %}
    </div>

    <div><button type='submit'>Save</button>
</form>

{% endblock %}
