{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}

<div class="move__header">
<a href='/moves'>Back to all moves</a>
</div>

{% render_placeholder move.description %}
<h1>{{ move.name }}</h1>

<h2 class="mt-4">Links</h2>
<div id="move__videoLinks"/>

<script type='text/javascript'>
    window.addEventListener("load", function() {
        var id = 'move__videoLinks', data_str = '{{ videolinks_json|safe }}';
        App.videolinks.render(document.getElementById(id), data_str)});
</script>

{% endblock %}
