{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}

<div class="move__header">
<a href='/moves'>Back to all moves</a>
</div>

<h1>{{ move.name }}</h1>

<h2 class="mt-4">Links</h2>
<div id="move__videoLinks"/>

<script type='text/javascript'>
    window.addEventListener("load", function() {
        var id = 'move__videoLinks';
        var videolinksJson = '{{ videolinks_json|safe }}';
        App.videolinks.render(
            document.getElementById(id),
            videolinksJson,
            "{{ move.name }}"
        )
    });
</script>

{% endblock %}
