@tailwind base;
@tailwind components;
@tailwind utilities;

// Scss

@responsive {
  .w-128 {
    width: 32rem;
  }
}

.flexrow {
  @apply flex flex-row;
}

.flexcol {
  @apply flex flex-col;
}

.panel {
  @apply my-2 p-2 bg-gray-300;
}

.button {
  @apply p-1 my-auto cursor-pointer;
  @apply bg-blue-300 text-white;
  @apply rounded text-center;
}

.button--wide {
  @apply w-32;
}

.FieldButton {
  @apply ml-2 p-1 my-auto cursor-pointer;
  @apply bg-blue-300 text-white;
  @apply rounded text-center text-xs;
}

@keyframes playvideo {
  from {
    background-color: transparent;
  }
  to {
    background-color: green;
  }
}

.zminus1 {
  z-index: -1;
}
