@tailwind base;
@tailwind components;
@tailwind utilities;

// Scss

@responsive {
  .w-128 {
    width: 32rem;
  }
}

.move__header {
  @apply flex flex-row flex-wrap;
}

.flexrow {
  @apply flex flex-row;
}

.flexcol {
  @apply flex flex-col;
}

.TipsPanel {
  @apply flex flex-col;
}

.TipsPanel__header {
  @apply flex flex-row items-center flex-wrap;
}

.Tip {
  @apply flex h-8;
}

.upVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.upVoteBtn--voted {
  background-image: url('/static/img/upvote_1.png');
}

.upVoteBtn--notVoted {
  background-image: url('/static/img/upvote_0.png');
}

.downVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.downVoteBtn--voted {
  background-image: url('/static/img/downvote_1.png');
}

.downVoteBtn--notVoted {
  background-image: url('/static/img/downvote_0.png');
}

.appFrame {
  @apply h-full;
}

.appFrame__banner {
  min-height: 4rem;
}

.MoveListFrame {
  flex: 1;
  min-height: 0; /* new */
}

.moveList {
  @apply overflow-y-scroll flex-grow;
}

.moveList__item {
  @apply py-1;
}

.moveList__item--highlighted {
  @apply border-4 border-blue-300;
}

.moveList__item--selected {
  @apply bg-blue-500;
}

.moveList__item--drag_before {
  border-top: solid;
}

.moveList__item--drag_after {
  border-bottom: solid;
}

.move__description {
  @apply text-lg overflow-y-scroll;
  max-height: 350px;
}

.moveForm__description {
  @apply text-lg;
}

.move__tags {
  @apply flex;
}

.move__tag {
  @apply mr-2 p-2 rounded;
  @apply text-sm;
  background-color: #e6e6e6;
}

.panel {
  @apply my-2 p-2 bg-gray-300;
}

.button {
  @apply p-1 my-auto cursor-pointer;
  @apply bg-blue-300 text-white;
  @apply rounded text-center;
}

.button--wide {
  @apply w-32;
}

.FieldButton {
  @apply ml-2 p-1 my-auto cursor-pointer;
  @apply bg-blue-300 text-white;
  @apply rounded text-center text-xs;
}

.tip__editButton {
  @apply cursor-pointer underline;
}

.tipForm__submitButton {
  @apply cursor-pointer underline;
}

.tipForm__saveButton {
  @apply cursor-pointer underline;
}

.voteCount {
  @apply w-8;
}

.voteCountPanel {
  @apply flex;
}

.formField__field {
  @apply w-full;
}

.formField__error {
  @apply text-red-500;
}

.moveListPlayer {
  @apply p-2 bg-gray-500;
}

.moveListHeader {
  @apply p-2 bg-gray-500;
}

.cookieNotice {
  @apply p-4 bg-blue-500 h-16 text-white;
}

.videoControlPanel__button--enabled {
  animation-duration: 1s;
  animation-name: playvideo;
  background-color: green;
}

@keyframes playvideo {
  from {
    background-color: transparent;
  }
  to {
    background-color: green;
  }
}

.cutPointHeader {
  @apply flex flex-row w-full h-8 justify-between;
}

.cutPointHeader--start {
  @apply bg-green-500;
}

.cutPointHeader--end {
  @apply bg-blue-500;
}

.cutPointHeader__button {
  @apply self-center bg-gray-500 px-2 mr-2 cursor-pointer;
}

.appFrame__home {
  margin-top: 8px;
  max-width: 10rem;
}

.moveListPanel__inner {
  // Style the keyboard event handler span
  > span {
    display: flex;
    min-height: 0;
  }
}

.moveListPanel__inner--expanded {
  min-width: 20rem;
  max-width: 20rem;
}

.moveListPanel__inner--collapsed {
  min-width: 2rem;
  max-width: 2rem;
}

.moveListPanel__ribbon {
  @apply bg-blue-500 mt-1;
  min-width: 0.5rem;
  max-width: 0.5rem;
}

.MoveListFrame__panel {
  min-width: 0;
}

.move__name {
  word-wrap: break-word;
  white-space: normal;
}

.zminus1 {
  z-index: -1;
}
