@tailwind preflight;
@tailwind components;
@tailwind utilities;

// Scss

$panGreen: #3ab080;
$panBlue: #006397;
$panGrey: #bbbbbb;

@responsive {
  .w-128 {
    width: 32rem;
  }
}

.move__header {
  @apply mb-4;
}

.flexrow {
  @apply flex flex-row;
}

.flexcol {
  @apply flex flex-col;
}

.tip {
  @apply flex h-8;
}

.upVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.upVoteBtn--voted {
  background-image: url("/static/img/upvote_1.png");
}

.upVoteBtn--notVoted {
  background-image: url("/static/img/upvote_0.png");
}

.downVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.downVoteBtn--voted {
  background-image: url("/static/img/downvote_1.png");
}

.downVoteBtn--notVoted {
  background-image: url("/static/img/downvote_0.png");
}

#reachRouter {
  @apply h-full;
}

.appFrame {
  @apply h-full;

  // HACK: Reach Router inserts anonymous divs
  > div:nth-of-type(2) {
    flex: 1;
    height: 100%;
  }
}

.appFrame__banner {
  min-height: 4rem;
}

.moveListPanel {
  @apply h-full;
}

.moveList {
  @apply flexcol overflow-y-scroll;
}

.moveList__item {
  @apply py-1;
}

.moveList__item--highlighted {
  @apply border-4 border-blue;
}

.moveList__item--selected {
  @apply bg-blue-light;
}

.moveList__item--drag_before {
  border-top: solid;
}

.moveList__item--drag_after {
  border-bottom: solid;
}

.move__header {
  @apply flexcol;
}

.move__description {
  @apply text-lg;
}

.moveForm__description {
  @apply text-lg;
}

.move__tags {
  @apply flex;
}

.move__tag {
  @apply mr-2 p-2 rounded;
  @apply text-sm;
  background-color: #e6e6e6;
}

.panel {
  @apply my-2 p-2 bg-grey-light;
}

.button {
  @apply p-1 my-auto cursor-pointer;
  @apply bg-blue-light text-white;
  @apply rounded text-center;
}

.button--wide {
  @apply w-32;
}

.tip__editButton {
  @apply cursor-pointer underline;
}

.tipForm__submitButton {
  @apply cursor-pointer underline;
}

.tipForm__saveButton {
  @apply cursor-pointer underline;
}

.voteCount {
  @apply w-8;
}

.voteCountPanel {
  @apply flex;
}

.formField__field {
  @apply w-full;
}

.formField__error {
  @apply text-red;
}

.moveListPlayer {
  @apply p-2 bg-grey;
}

.moveListHeader {
  @apply p-2 bg-grey;
}

.cookieNotice {
  @apply p-4 bg-blue h-16 text-white;
}

.videoControlPanel__button--enabled {
  animation-duration: 1s;
  animation-name: playvideo;
  background-color: green;
}

@keyframes playvideo {
  from {
    background-color: transparent;
  }
  to {
    background-color: green;
  }
}

.cutPointHeader {
  @apply flex flex-row w-full h-8 justify-between;
}

.cutPointHeader--start {
  @apply bg-green;
}

.cutPointHeader--end {
  @apply bg-blue;
}

.cutPointHeader__button {
  @apply self-center bg-grey px-2 mr-2 cursor-pointer;
}

.appFrame__home {
  margin-top: 8px;
  max-width: 10rem;
}

.moveListPanel__inner {
  min-width: 20rem;
  max-width: 20rem;
}
