@tailwind preflight;
@tailwind components;
@tailwind utilities;

$panGreen: #3AB080;
$panBlue: #006397;
$panGrey: #BBBBBB;

@responsive {
  .w-128 {
    width: 32rem;
  }
}

.move__header {
  @apply mb-4;
}

.videolink {
  @apply flex h-8;
}

.tip {
  @apply flex h-8;
}

.videolink__url {
  @apply mx-1;
}

.upVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.upVoteBtn--voted {
  background-image: url('/static/img/upvote_1.png');
}

.upVoteBtn--notVoted {
  background-image: url('/static/img/upvote_0.png');
}

.downVoteBtn {
  @apply mx-1 bg-cover w-6 h-6;
}

.downVoteBtn--voted {
  background-image: url('/static/img/downvote_1.png');
}

.downVoteBtn--notVoted {
  background-image: url('/static/img/downvote_0.png');
}

.move__description {
  height: 200px;
  width: 200px;
}

.moveList__item {
  @apply my-1;
}

.move__header {
  @apply flex flex-col;
}

.editMoveForm {
  label {
    font-weight: bold;
  }

  .formField {
    margin-top: 2rem;
  }
}

.move__tags {
  @apply flex;
}

.moveTag {
  @apply mr-2 text-blue;
}

.panel {
  @apply my-2 p-2 bg-grey-light;
}

.button {
  @apply p-1 my-auto cursor-pointer;
  @apply bg-blue-light text-white;
  @apply rounded text-center;
}

.button--wide {
  @apply w-32;
}

.editVideoLinkBtn {
  @apply cursor-pointer underline;
}

.editTipBtn {
  @apply cursor-pointer underline;
}

.voteCount {
  @apply w-8;
}

.voteCountPanel {
  @apply flex;
}

.foobar {
  @apply w-full h-64;
}

.formField__field {
  @apply w-full;
}