@tailwind preflight;
@tailwind components;
@tailwind utilities;

$panGreen: #3AB080;
$panBlue: #006397;
$panGrey: #BBBBBB;

@responsive {
  .w-128 {
    width: 32rem;
  }
}

.move__header {
  @apply mb-4;
}

.videolink {
  @apply flex items-center h-8;
}

.videolink__url {
  @apply ml-2;
}

.videolink__upVoteBtn {
  @apply ml-2 bg-cover w-6 h-6;
}

.videolink__upVoteBtn--voted {
  background-image: url('/static/img/upvote_1.png');
}

.videolink__upVoteBtn--notVoted {
  background-image: url('/static/img/upvote_0.png');
}

.videolink__downVoteBtn {
  @apply ml-2 bg-cover w-6 h-6;
}

.videolink__downVoteBtn--voted {
  background-image: url('/static/img/downvote_1.png');
}

.videolink__downVoteBtn--notVoted {
  background-image: url('/static/img/downvote_0.png');
}

.move__description {
  height: 200px;
  width: 200px;
}

.moveList__item {
  @apply mt-2;
}

.move__header {
  @apply flex flex-col;
}

.editMoveForm {
  .videoLinkPanel {
    @apply bg-grey p-2 mb-8;

    input {
      @apply w-full bg-transparent;
    }
  }

  label {
    font-weight: bold;
  }

  .formField {
    margin-top: 2rem;
  }
}

.move__tags {
  @apply flex;
}

.moveTag {
  @apply mr-2 text-blue;
}

.panel {
  @apply my-2 p-2 bg-grey-light;
}

.button {
  @apply p-1 my-auto cursor-pointer;
  @apply bg-blue-light text-white;
  @apply rounded text-center;
}

.button--wide {
  @apply w-32;
}

.editVideoLinkBtn {
  @apply cursor-pointer underline;

}