{% block subject %}
Password reset on {{ site_name }}
{% endblock subject %}

{% block text_body %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
https://{{ domain }}/{{ url }}
Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!

The {{ site_name }} team
{% endblock text_body %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

<p>Please go to the following page and choose a new password:</p>
<a href="https://{{ domain }}/{{ url }}">https://{{ domain }}/{{ url }}</a>
<p>Your username, in case you've forgotten: <b>{{ user.get_username }}</b></p>

<p>Thanks for using our site!</p>

<p>The {{ site_name }} team</p>
{% endblock html_body %}